

.social-kit{
    font-size: 20px;
    padding-top: 18px;
}

.social-kit i{
    margin-right: 20px;
}


body .Exercicios{
  width: 100%; 
  height: 100px;
  background-color: #5636AC;
  font-size: 40px;
  text-align: center;
  justify-content: center;
  color: white;

  font-weight: normal;
  padding: 2%;

}

body .enunciado{
  width: 100%; 
  height: 70px;
  font-size: 25px;
  font-weight: normal;
  margin:auto;
}

body .questao{
  width: 100%; 
  font-size: 20px;
  background-color: #5636AC;
  color: white;
  font-weight: normal;
  align-items: center;
  padding: 2%;
  
  
}
body .questao1{
  width: 100%; 
  height: 500px;
  font-size: 20px;
  overflow-wrap: break-word;
  position: relative;
  padding-left: 30px;
}
#scrollButton{
  position: absolute;
  bottom: 15px;
  right: 40px;
  border: none;
  height: 30px;
  line-height: 20px;
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  color: white;
  background: #5636AC;
border-radius: 5px;
}

.avaliacao{
  width:200px;
  height: 30px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 5px;
  background: #5636AC;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
  
 
}
.estrelas{
background-color:white;
  border: none;
  padding-left: 10px;
  padding-top: 20px;
  font-size: 20px;
  margin-left: 6px;
}

.estrela{
  background-color: transparent;
  border: none;
}
  .fas{
    color: gold;
  

}

.respostas{
  width: 100%; 
  height: 40px;
  font-size: 20px;
  background-color: #5636AC;
  color: white;
  font-weight: normal;
  align-items: center;
  padding-left: 30px;
  padding-top: 20px;
}

.resposta1{
  width: 70%; 
  height: 500px;
  font-size: 20px;
  overflow-wrap: break-word;
  position: relative;
  padding-left: 30px;
  
}

#medianotas{
  font-size: 20px;
   padding-left: 30px;
}