

body {
  padding-top: 100px !important; /*prioridade sobre header*/
}
main{
  margin: 0 100px;
}

@media (min-width: 992px) {
  .collapse {
      display: block !important;
  }
}

/* filter overlay */
div.selection p {
  color: rgb(0, 0, 0);
  font-weight: bold;
    
}
.topo {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;

}

.filtro {
    background-color:#d3a6ff;
    padding: 10px 0;
    border-radius: 5px;
    margin: 0 1px;
}

#cabeçalhofiltro{
    font-size: 20px;
    font-weight: bold;
    padding: 10px; 
    margin-top: 10px;
    color: #774CED;
}

.opcoes {
    text-align: center;
}

#botaoPesquisar {
    background-color:#774CED;
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    width: 100px; /* Aumenta a largura do botão */
    border: none;
  }
  
  .selection{
    margin-bottom: 1%;
  }

  select{
    text-align: center;
    font-size: 16px;
    width: 100%;
    

    
  }

  /*cards*/
  .containerr {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
  }
  .containerr .btn-holder {
    justify-content: flex-end;
    display: flex;
  }
  .buttonIrVideo{
    max-width: 40%;
  }
  .card {
    margin: 2% 0;
  }
  .btn-primary{
    background-color: #774CED;
    border: none;

  }

  @media (max-width: 992px){
    .card {
      max-width: 100%;
    }
  }
