

body {
    padding-top: 0 !important; /*Tamanho da navbar encontrado após usar js = 75px.*/

}
/*Começo do header*/ /*Header global em uso, comentei o header aqui*/
/*
header {
    background-color: white;
    padding: 10px 45px;
    top: 0;
    left: 0;
    position: fixed;
    overflow: hidden;
    align-items: center;
    width: 100%;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo img {
    width: 11rem;
    padding-right: 80px;
}

.button-login {
    align-items: center;
    display: flex;
    padding-right: 90px;
}

.login {
    margin-left: 5px;
    background-color: #C8A3FF;
    border-style: none;
    padding: 8px 18px;
    margin-right: 20px;
    color: #3E20DC;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    display: none;
}

.create {
    background-color: #774CED;
    border-style: none;
    padding: 8px 18px;
    margin-right: 20px;
    color: white;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    display: none;


}

.my_account {
    background-color: #774CED;
    border-style: none;
    padding: 8px 18px;
    margin-right: 20px;
    color: white;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    display: none;
}

.menu a {
    padding: 0 20px;
    text-decoration: none;
    color: #3E20DC;
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
}
*/ 

/*Começo da parte de conteudo do site*/

#btnSalvar {
    float: right;
    background-color: #C8A3FF;
    color: #3E20DC;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.video-conteudo {
    display: center;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
}

.ord-videos {
    list-style: none;
    padding: 0;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;

}

.veja-mais {
    text-align: center;
    margin-top: 50px;
    font-family: 'Lato', sans-serif;
    color: #3E20DC;
    font-size: 17px;
}



.videos {
    background-color: #774CED;
    height: 60px;
    margin-top: 80px;
    margin-bottom: 500px;

}

.container {
    margin-top: 20px;
    margin-right: 100px;
    margin-left: 100px;
}

.titulo {
    background-color: #774CED;
    height: 130px;
    margin-top: 90px;
}

#conteudo {
    display: center;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
}

.grid-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* Duas colunas de largura igual */
    gap: 20px;
    /* Espaçamento entre as colunas */
}

.resumo-materia {
    font-family: 'Lato', sans-serif;
    font-size: 27px;
}

.cont-resumo {
    font-family: 'Lato', sans-serif;
    font-size: 27px;
}

/*Começo do footer*/


/* Pagina de Salvar*/
.salvo {
    background-color: #774CED;
    padding-left: 20px;


}

#titulo {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

#linkpagina {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

.box {
    border: solid;
    color: aliceblue;
    width: 300px;
    margin-top: 50px;
    text-align: center;
}