/* -- DEFAULT BODY -- */
body {
    margin: 0;
    padding-top: 75px; /*Tamanho da navbar encontrado após usar js = 75px.*/
    max-width: 100%;
    font-family: 'Lato', sans-serif;	
}

/* -- HEADER -- */
header {
    background-color: white;
    padding: 10px 45px;
    top: 0;
    left: 0;
    position: fixed;
    overflow: hidden;
    align-items: center;
    width: 100%;
    z-index: 100;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header .logo img, .mobileLogo img{
    width: 11rem;
    margin-right: 10%;
    
}
header .mobileLogo img{
    display: none;
}
header .button-login {
    align-items: right;
    display: flex;
    
}



header .login {
    margin-left: 5px;
    background-color: #C8A3FF;
    border-style: none;
    padding: 8px 18px;
    margin-right: 20px;
    color: #3E20DC;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    cursor: pointer;

}

header .create {
    background-color: #774CED;
    border-style: none;
    padding: 8px 18px;
    margin-right: 20px;
    color: white;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    cursor: pointer;

}

header .my_account {
    background-color: #774CED;
    border-style: none;
    padding: 8px 18px;
    margin-right: 20px;
    color: white;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

header .menu a {
    padding: 0 20px;
    text-decoration: none;
    color: #3E20DC !important;
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
}

header .menu-button {
    display: none;
    padding: 6px 10px;
    background: #774CED;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

header .l-body {
    margin: 0;
    padding: 0;
}

header .l-section {
    transform: skewY(4deg);
    background-color: #774CED;
    padding: 220px;
    max-width: 100%;
}


header .login,
header .create,
header .my_account {
    white-space: nowrap;
}

@media (max-width: 1200px) { /*bootstrap-md (for laptops) Higher than that is the non media css*/
    /*Until 1200px the header works perfectly. However, it breaks before that (1040 px)*/
    
}

@media (max-width: 1050px){
     /*Before header breaks, collapse "entrar" e "criar conta" */
     /*Dont affect the "minha conta"*/
    
}

@media (max-width: 992px) { /*bootstrap-sm (for tables)*/
    header .mobileLogo img{
        display: inline-block;
    }
    header .logo img {
        display: none;
    }
}



@media (max-width: 768px) { /*bootstrap-xm (for phones)*/
    
}