body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #774CED;
}

h3 {
    text-align: center;
    margin-top: 0;
    font-size: 40px;
    color: #ffffff;
}

.modal-body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #774CED;
}

.text-center-text-info {
    text-align: center;
    margin-top: 0;
    font-size: 40px;
    color: #ffffff;
}

.text-info {
    text-align: center;
    margin-top: 0;
    font-size: 40px;
    color: white;
}